.name-input {
    width: 50%
}

.required-text {
    color: red;
}

.name-container {
    padding: 16px; 
    display: grid; 
    align-items: flex-start;
    /*flex-direction:row;*/
}

.MuiFormControl-root {
    width: 100%;
}

.name_input {
    width: 50%;
}

.survey-form-heading {
    text-align: center;
}

.label {
    padding-bottom: 5px;
    width: 100%;
}
