/*!****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/main.css ***!
  \****************************************************************/
.name-input {
    width: 50%
}

.required-text {
    color: red;
}

.name-container {
    padding: 16px; 
    display: flex; 
    /*justify-content: flex-start;*/
    flex-direction:row;
}

.name-child {
    flex:1 1 auto;
    width: 100%;
}  

.survey-form-heading {
    text-align: center;
}

.label {
    padding-bottom: 5px;
}
