/*!****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/main.css ***!
  \****************************************************************/
.name-input {
    width: 50%
}

.required-text {
    color: red;
}

.name-container {
    padding: 16px; 
    display: flex; 
    /*flex-direction:row;*/
}

.name-child-1 {
    flex: 1;
    padding-right: 3rem;
} 

.name-child-2 {
    flex: 2;
} 

.survey-form-heading {
    text-align: center;
}

.label {
    padding-bottom: 5px;
}
