# Byte-compiled / optimized / DLL files
__pycache__/


# exported backup files
cic_assets_export.json
cic_grants_export.json
cic_orgs_export.json
cic_people_export.json

# Environments
.env
.venv
env/
venv/
py3_venv/
backend/handler_venv/
ENV/
env.bak/
venv.bak/
frontend/survey/.env

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Emacs noise 
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# IDE
.idea/
.vscode/
.history/
cice-dev-*.json

# node modules
frontend/node_modules/
frontend/survey/node_modules
frontend/search/node_modules

#static assets
static/*
backend/static/
backend/search/static/
backend/cic/static
backend/pi_survey/static/

