.name-input {
    width: 50%
}

.required-text {
    color: red;
}

.name-container {
    padding: 16px; 
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    /*flex-direction:row;*/
}

.MuiFormControl-root {
    width: 100%;
}

.name_input {
    width: 80%;
}

.name-child-1 {
    width: 50%;
    flex-grow: 1;
} 

.name-child-2 {
    width: 50%;
    flex-grow: 1;
} 

.survey-form-heading {
    text-align: center;
}

.label {
    padding-bottom: 5px;
    width: 100%;
}