
header small {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857143;
    font-family: "proxima-nova","Montserrat",sans-serif;
    color: #555555;
    box-sizing: border-box;
    font-size: 85%;
}

header h1 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: "proxima-nova","Montserrat",sans-serif;
    line-height: 1.1;
    color: #555555;
    margin: 0.8em 0 0.6em;
    margin-top: 10px;
    font-size: 40px;
    font-weight: normal;
}

.root {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.filter-button-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

.cic-heading {
  color: #3A6FA2;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  font-family: ui-rounded;
  text-align: center;
}

#site-footer {
    margin-left: calc(50% - 50vw);
    width: 100vw;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: "proxima-nova","Montserrat",sans-serif;
    box-sizing: border-box;
    hyphens: manual;
    background: #093552;
    color: #FFF;
    padding: 40px 30px 30px;
}

#icon-table {
    margin-left: 30px;
    width: 100%;
}

#icon-table .text {
    margin-left: 10px;
}

#icon-table a {
    color: rgb(166,183,200);
}

#icon-table a:visited {
    color: rgb(166,183,200);
}

.cic-icon {
    width: 40px;
    padding: 10px;
    float: left;
    color: rgb(166,183,200);
}

.cic-icon a {
    color: rgb(166,183,200);
}

.cic-icon a:visited {
    color: rgb(166,183,200);
}

.cu-foot-link {
    float: right;
    padding: 10px;
}

.sr-only {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: "proxima-nova","Montserrat",sans-serif;
    hyphens: manual;
    white-space: nowrap;
    color: #a6b7c8;
    box-sizing: border-box;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#cu-footer {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    font-family: "proxima-nova","Montserrat",sans-serif;
    box-sizing: border-box;
    line-height: 27px;
    padding: 30px 0;
    color: #FFF;
}

#back-to-top-container {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: "proxima-nova","Montserrat",sans-serif;
    background: #093552;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    transition: opacity .2s;
    bottom: 0;
    z-index: 5;
    left: 3;
    right: 0;
    opacity: 1;
}

#back-to-top-container a {
    color: rgb(166,183,200);
}

.grants-table {
  width: 100%;
}

.search-bar {
  width: 100%;
}

.search-button {
  width: 12%;
}

.download-csv {
  text-align: center;
  padding-bottom: 10px;
}

.download-button {
  width: 50%;
  height: 40px;
}

.results-row {
  width: 75%;
  float: left;
  font-family: "proxima-nova", "Montserrat",sans-serif;
  font-size: 16px;
}

.filter-button {
  color: #2C6BAC;
}

.flex-container {
  display: flex;
}

.flex-child {
  display: inline-block;
}

.flex-child:first-child {
  width: 70%;
}

.flex-child:not(:first-child)  {
  flex: 1;
}

.filter-div {
  background-color: aqua;
  margin: 10px;
}

.filter-results-label {
    font-family: "proxima-nova", "Montserrat",sans-serif;
    color: #555555;
}

.filter-accordion {
  margin: 5px;
}

.titleLink {
    font-family: "proxima-nova", "Montserrat",sans-serif;
    font-size: 18px;
}

.truncAbstract {
    font-family: "proxima-nova", "Montserrat",sans-serif;
    font-size: 14px;
}

.showMoreLink {
    color: #216497;
}

/* ******************** General styles to copy the Columbia Sites settings ****************** */

*:before, *:after {
    box-sizing: border-box;
}

a {
    color: #216497;
    text-decoration: none;
}

a:visited {
    color: #216497;
}

b {
    font-weight: 600;
    font-weight: bold;
}

@media (min-width: 1200px)
body {
    width: 1170px;
}

@media (min-width: 992px)
body {
    width: 970px;
}

@media (min-width: 768px)
body {
    width: 750px;
    padding-bottom: 50px;
    margin-top: 0;
}

body {
    display: block;
    color: #555555;
    background: #FFF;
    background-color: #FFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 0px;
    margin-right: 50px;
    margin-left: 50px;
}

h1 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: inherit;
    line-height: 1.1;
    font-size: 2.2em !important;
    color: #555555;
    margin: 0.8em 0 0.6em;
    margin-top: 10px;
    font-weight: normal;
}

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}

p {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857143;
    font-family: "proxima-nova", "Montserrat",sans-serif;
    color: #555555;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 0 20px;
}

small {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857143;
    font-family: "proxima-nova", "Montserrat",sans-serif;
    color: #555555;
    box-sizing: border-box;
    font-size: 85%;
}

strong {
    font-weight: 600;
}

ul {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857143;
    font-family: "proxima-nova", "Montserrat",sans-serif;
    color: #555555;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 0 20px;
    list-style-type: disc;
}

.columbia-heading {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    color: #3A6FA2;
    text-transform: uppercase;
    padding: 13px 0;
    cursor: pointer;
}

.visually-hidden {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: "proxima-nova", "Montserrat",sans-serif;
    box-sizing: border-box;
    background-color: transparent;
    color: #2c6bac;
    text-decoration: none;
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}

#site-name {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: "trajan-pro-3","Cinzel",sans-serif;
    font-size: 48px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    color: #3A6FA2;
    font-weight: 400;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ************************************************   Menu bar   ********************************************** */
/* Adapted from the "Simple, CSS only, responsive menu" at https://www.sliderrevolution.com/resources/css-menu/ */

#site-nav-wrapper {
    margin-left: -15px;
}

#site-nav .container {
    display: inline-block;
}

#site-nav li a, #site-nav li div {
    font-size: 1.4em;
    color: #3A6FA2;
    display: block;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 0px;
    text-decoration: none;
    cursor: pointer;

}

#site-nav a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.2em;
}

#site-nav li {
    z-index: 6;
    display: block;
    float: left;
    height: 3em;
    width: auto;
}

#site-nav ul {
    list-style: none;
    position: relative;
    text-align: left;
    font-size: 12px;
    margin: 0 0 0px;
    padding-inline-start: 0px;
}

/* clear'n floats */
#site-nav ul:after {
  clear: both;
}

#site-nav ul:before, #site-nav ul:after {
    content: " ";
    display: table;
}

#site-nav nav {
  position: relative;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* prime */
#site-nav ul.primary-nav li a {
  display: block;
}

#site-nav ul.primary-nav li:last-child a {
  border-right: none;
}

#site-nav ul.primary-nav li a:hover { 
  color: #000;
}

/* subs */
#site-nav ul.sub-nav {    
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display:none;
}

#site-nav ul.sub-nav li {
  float: none;
  margin: 0;
}

#site-nav ul.sub-nav li a {
  font-size: 16px;
  font-size: 1em;
  font-weight: 700;
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 20px;
}

#site-nav ul.sub-nav li:last-child a {
  border-bottom: none;
}

#site-nav ul.sub-nav li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
#site-nav ul.primary-nav li:hover ul {
  display: block;
  background: rgb(9, 53, 82);
  padding: 20px;
}

/* tab background */
#site-nav ul.primary-nav li:hover a {
  background: rgb(9, 53, 82);
  color: #FFFFFF;
  text-shadow: none;
}

#site-nav ul.primary-nav li:hover > a{
  color: #FFFFFF;
} 


/* Mobile menu */
@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;
  }
  
   li {
    float: none;
  }
  
  ul.primary-nav li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary-nav li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub-nav {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub-nav li a {
    background: #272727;
    border: none;
    color: #8B8B8B;
  }
  
  ul.sub-nav li a:hover {
    color: #ccc;
    background: none;
  }
}


/* **********************************************   Breadcrumb bar   ****************************************** */


#breadcrumb {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857143;
    font-family: "proxima-nova", "Montserrat",sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    display: block;
    background: #F6F6F8;
    color: #717171;
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
}

#breadcrumb .sr-only {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 500;
    color: #555555;
    font-size: 1.7em;
    line-height: 1.22em;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#breadcrumb .container {
        -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857143;
    font-family: "proxima-nova", "Montserrat",sans-serif;
    font-size: 18px;
    color: #717171;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 970px;
}

#breadcrumb li {
        -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857143;
    font-family: "proxima-nova", "Montserrat",sans-serif;
    color: #717171;
    list-style: none;
    font-size: 14px;
    box-sizing: border-box;
    float: left;
    padding: 0;
    position: relative;
    background: none;
    display: block;
    overflow: visible;
    margin-left: 0;
    z-index: 9;
}

#breadcrumb li a {
        -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857143;
    font-family: "proxima-nova", "Montserrat",sans-serif;
    list-style: none;
    font-size: 14px;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    color: #216497;
    position: relative;
    display: block;
    max-width: 30em;
    padding: 12px 50px 12px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 2;
    padding-left: 0;
}

#breadcrumb li a:before {
    border-bottom-color: rgba(0,0,0,0);
    border-bottom-style: solid;
    border-bottom-width: 2000px;
    border-left-color: rgb(219,220,224);
    border-left-style: solid;
    border-left-width: 2000px;
    border-top-color: rgba(0,0,0,0);
    border-top-style: solid;
    box-sizing: border-box;
    font-size: 2000px;
    height: 4000px;
    margin-bottom: -2000px;
    margin-top: -2000px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 22px;
    width: 2000px;
    z-index: 2;
}

#breadcrumb li .active {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857143;
    font-family: "proxima-nova", "Montserrat",sans-serif;
    list-style: none;
    font-size: 14px;
    box-sizing: border-box;
    float: left;
    padding: 0;
    position: relative;
    background: none;
    color: #717171;
    display: block;
    overflow: hidden;
    margin-left: -30px;
    z-index: 8;
}
