      <footer>	
        <div id="site-footer">
          <div class="container">
            <div class="row flex-layout">
	      <div class="col-sm-9">
		
		<div class="row flex-layout">
		  
                  <div class="col-md-6 col-lg-3">
                    <div class="clearfix">
		      <span role="img" aria-label="Email" class="ss-icon ss-mail"></span>
		      <div class="text">
			<h2>Contact Us</h2>
			<div class="value"><a href="/cdn-cgi/l/email-protection#deb7b0b8b19ebdb1a8b7bab7b0b8b1bdb1b3b3b1b0adf0b0bbaa"><span class="__cf_email__" data-cfemail="2e474048416e4d4158474a474048414d41434341405d00404b5a">[email&#160;protected]</span></a></div>
		      </div>
                    </div>
                  </div>
		  
		  
                  <div class="col-md-6 col-lg-3">
                    
                    <div id="cu-social-links" class="social">
		      <h2>Follow Us</h2>
                      <a href="https://twitter.com/CIC_COVID"><span class="ss-social-regular ss-twitter"></span><span class="sr-only">Twitter</span></a>                  <a href="https://www.instagram.com/nebigdatahub/"><span class="ss-social-regular ss-instagram"></span><span class="sr-only">Instagram</span></a>                  <a href="https://www.youtube.com/channel/UCaHjFSdvLnxWeYski3QjU_g"><span class="ss-social-regular ss-youtube"></span><span class="sr-only">Youtube</span></a>                                                    </div>
                  </div>
		  
		</div>
		
	      </div>

            </div>
	  </div>
        </div>
        
	<div  id="cu-footer">
	  <div class="container">
            <div class="row">
	      
	      <div  class="col-sm-12 col-md-4 col-lg-4 footer-branding-column">
                <a href="http://www.columbia.edu" id="footer-cu-homepage">
                  <span class="brand sr-only">Columbia University</span>
                  <img src="/themes/custom/columbia/assets/img/cu-blue-logo.svg" alt="Columbia University Logo" width="326" height="49" class="img-responsive hidden-xs" />
		</a>
              </div>
	      
	      <div  class="col-xs-12 col-md-8 footer-links-column" id="cu-footer-links">
		<span class="copyright"><a href="https://www.columbia.edu/content/copyright">&copy;2022 Columbia University</a></span>
		<span class="a11y"><a href="http://health.columbia.edu/disability-services"><i role="img" aria-label="Accessibility" class="fa fa-wheelchair" aria-hidden="true"></i><span class="sr-only">Accessibility</span></a></span>
		<span><a href="http://eoaa.columbia.edu/notice-nondiscrimination">Nondiscrimination</a></span>
		<span><a href="https://careers.columbia.edu/">Careers</a></span>
		<span><a href="https://sites.columbia.edu/">Built using Columbia Sites</a></span>
	      </div>
            </div>
	  </div>
	</div>
      </footer>
      
      <div id="back-to-top-container" class="container">
	<a href="#top" title="Back to top" id="back-to-top" onclick="document.getElementById('top').focus();">
	  <i class="fa fa-arrow-circle-o-up hidden-xs" aria-hidden="true"></i><i class="fa fa-chevron-up visible-xs-block" aria-hidden="true"></i>Back to Top
	</a>
      </div>

