      <footer>	
	<div id="site-footer">
	  <table id="icon-table">
	    <tr>
	      <td>
		<!-- left column -->
		<div class="cic-icon">
		  <i class="fa fa-envelope fa-3x"></i>
		</div>
		<div>
		  <h2>Contact Us</h2>
		  <div class="text">
		    <a href="mailto:info@covidinfocommons.net">info@covidinfocommons.net</a>
		  </div>
		</div>
	      </td>
	      <td width="30%">
		<!-- center column -->
	      </td>
	      <td>
		<!-- right column -->
		<h2>Follow Us</h2>
		<div class="cic-icon">
		  <a href="https://twitter.com/CIC_COVID">
		    <i class="fa fa-twitter fa-3x"></i>
		    <span class="sr-only">Twitter (X)</span>
		  </a>
		</div>
		<div class="cic-icon">
                  <a href="https://www.instagram.com/nebigdatahub/">
		    <i class="fa fa-instagram fa-3x"></i>
		    <span class="sr-only">Instagram</span>
		  </a>
		</div>
		<div class="cic-icon">
                  <a href="https://www.youtube.com/channel/UCaHjFSdvLnxWeYski3QjU_g">
		    <i class="fa fa-youtube-play fa-3x"></i>
		    <span class="sr-only">Youtube</span>
		  </a>
		</div>
	      </td>
	    </tr>
	  </table>

	  
        </div>
        
	<div  id="cu-footer">
          <a href="http://www.columbia.edu" id="footer-cu-homepage">
            <span class="brand sr-only">Columbia University</span>
            <img src="https://covidinfocommons.datascience.columbia.edu/themes/custom/columbia/assets/img/cu-blue-logo.svg" alt="Columbia University Logo" width="326" height="49" class="img-responsive hidden-xs" />
	  </a>
	      
	    <span class="cu-foot-link copyright"><a href="https://www.columbia.edu/content/copyright">&copy;2022 Columbia University</a></span>
	    <span class="cu-foot-link a11y"><a href="http://health.columbia.edu/disability-services">
		<i role="img" aria-label="Accessibility" class="fa fa-wheelchair" aria-hidden="true"></i>
		<span class="sr-only">Accessibility</span></a>
	    </span>
	    <span class="cu-foot-link"><a href="http://eoaa.columbia.edu/notice-nondiscrimination">Nondiscrimination</a></span>
	    <span class="cu-foot-link"><a href="https://careers.columbia.edu/">Careers</a></span>
	</div>
      </footer>
      
      <div id="back-to-top-container" class="container">
	<a href="#top" title="Back to top" id="back-to-top" onclick="document.getElementById('top').focus();">
	  <i class="fa fa-arrow-circle-o-up hidden-xs" aria-hidden="true"></i> Back to Top
	</a>
      </div>

