
<!-- Google Analytics 4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZCNFDY19L0"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-ZCNFDY19L0'); </script>

    <a id="top" href="#main-content" class="visually-hidden focusable skip-link">
      Skip to main content
    </a>
        
    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>      
      <div class="region region-alerts">
	<section id="block-globalalerts-cu-admin1" class="cu_alert_client_global_alerts block clearfix">  
	  <div id="alerts"></div>
	</section>
      </div>

      <header id="header" role="banner" class="">

	<div id="nav-wrapper" class="hidden-xs">
	  <div class="container">
            <div class="row">
              <div class="col-sm-9 col-md-9 col-lg-9 columbia-heading">
		<a href="https://www.columbia.edu/">Columbia University in the City of New York</a>
              </div>
            </div>
	  </div>
	</div>
	
	<div id="site-name"><a href="https://covidinfocommons.datascience.columbia.edu/">Covid Information Commons</a></div>
	
      </header>

      <nav id="site-nav-wrapper" hover-intent-out="::nav.focus(-1)" hover-intent-delay="250" class=" hidden-xs">
	
	<div class="region region-navigation">
	  <nav role="navigation" aria-labelledby="block-cu-admin1-mainnavigation-menu" id="block-cu-admin1-mainnavigation" class="menu_block main">
            
	    <h2 class="visually-hidden" id="block-cu-admin1-mainnavigation-menu">Main navigation expanded</h2>
	    <div id="site-nav" class="container">
              <ul class="primary-nav">
                <li class="menu-item" id="sitenav-1">
                  <a href="https://covidinfocommons.datascience.columbia.edu/content/about-cic" ><strong>About</strong></a>
                </li>
                <li class="menu-item" id="sitenav-2">
                  <a href="/grants" ><strong>CIC Search Tools &#9662;</strong></span></a>
                  <ul class="sub-nav">
                    <li class="menu-item">
                      <a href="/grants">COVID Awards &amp; PI Database</a>
                    </li>
                    <li class="menu-item">
                      <a href="/adv_search">Advanced COVID search</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://lingo-dev.datascience.columbia.edu/apps/explorer/#run=%7B%22scope%22%3A%7B%22selector%22%3A%7B%22type%22%3A%22byQuery%22%2C%22query%22%3A%22%20%22%2C%22queryParser%22%3A%22enhanced%22%7D%7D%7D%20">COVID Research Explorer ML Maps</a>
                    </li>
                    <li class="menu-item">
                      <a href="/survey">Create or Enhance your COVID PI profile</a>
                    </li>
		    <li class="menu-item">
		      <a href="https://cic-apps.datascience.columbia.edu/v1/swagger-ui/">API documentation</a>
		    </li>
                  </ul>
                </li>
                <li class="menu-item" id="sitenav-3">
		  <a href="https://covidinfocommons.datascience.columbia.edu/content/covid-19-research-lightning-talks"><strong>Meet the Researchers &#9662;</strong></span></a>
                  <ul class="sub-nav">
                    <li class="menu-item">
                      <a href="https://covidinfocommons.datascience.columbia.edu/content/meet-researchers">COVID-19 Research Lightning Talks</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://covidinfocommons.datascience.columbia.edu/events">Register for the Next CIC Webinar</a>
                    </li>
		    <li class="menu-item">
		      <a href="https://covidinfocommons.datascience.columbia.edu/content/5-questions-covid-researchers-0">5 Questions with COVID Researchers </a>
                    </li>
		  </ul>
		</li>
		<li class="menu-item" id="sitenav-4">
                  <a href="https://covidinfocommons.datascience.columbia.edu/content/research-funding"><strong>Opportunities &amp; Resources &#9662;</strong></span></a>
                  <ul class="sub-nav">
		    <li class="menu-item">
                      <a href="https://covidinfocommons.datascience.columbia.edu/content/videos">Video Library</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://covidinfocommons.datascience.columbia.edu/content/research-funding">Research Funding</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://covidinfocommons.datascience.columbia.edu/content/groups-and-guides">Groups and Guides</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://covidinfocommons.datascience.columbia.edu/content/news-and-publications">COVID Publications</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://covidinfocommons.datascience.columbia.edu/content/2023-cic-student-paper-challenge">CIC Student Paper Challenge</a>
                    </li>
		    <li class="menu-item">
                      <a href="https://nebigdatahub.org/health-fa/">Career &amp; Professional Opportunities</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://covidinfocommons.datascience.columbia.edu/content/datasets">Datasets</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://covidinfocommons.datascience.columbia.edu/content/research-working-groups">Research Working Groups</a>
                    </li>     
		    <li class="menu-item">
                      <a href="https://nebigdatahub.org/spanish-language-resources-outreach/">Spanish Language Resources &amp; Outreach</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://covidinfocommons.datascience.columbia.edu/content/student-working-group-0">Student Working Group</a>
                    </li>
		  </ul>
                </li>
                <li class="menu-item" id="sitenav-5">
                  <a href="https://covidinfocommons.datascience.columbia.edu/events"><strong>Events</strong></a>
                </li>
                <li class="menu-item" id="sitenav-6">
                  <a href="https://covidinfocommons.datascience.columbia.edu/news"><strong>News &#9662;</strong></span></a>
                  <ul class="sub-nav">
                    <li class="menu-item">
                      <a href="https://covidinfocommons.datascience.columbia.edu/news">News</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://nebigdatahub.org/newsletter-archives/">Newsletter Archive</a>
                    </li>
                    <li class="menu-item">
                      <a href="https://bit.ly/HubNewsSignup">Newsletter Signup</a>
                    </li>
		  </ul>
                </li>
                <li class="menu-item" id="sitenav-7">
                  <a href="https://covidinfocommons.datascience.columbia.edu/content/project-team"><strong>Team</strong></a>
                </li>
                <li class="menu-item" id="sitenav-8">
                  <a href="https://covidinfocommons.datascience.columbia.edu/content/contact"><strong>Contact</strong></a>
                </li>
              </ul>	      
	    </div>                                    
	  </nav>
	</div>
      </nav>
    </div>	      
