{% load static %}
{% load humanize %}
{% load my_filters %}

<!DOCTYPE html>
<html lang="en">
    {% block content %}
    <head>
        <meta charset="UTF-8">
        <title>{{ grant.title }}</title>

        <!-- Use the Google fonts as a backup for Adobe fonts -->	
	<link rel="preconnect" href="https://fonts.googleapis.com" />		   
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />

    	<!-- Include FontAwesome for icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
        <link rel="stylesheet" type="text/css" href="{% static '/search/main.css' %}" />
    </head>
    <body>
      {% include "cic_header.html" %}
      <p/>
        <div>
          <header>
	    {% if grant.funder.name == 'National Science Foundation' %}
	    <div style="color: #FFFFFF; background-color: #3C75CF; border-radius: 4px; width: min-content; padding-left: 5px; padding-right: 5px;">
	      NSF
	    </div>
	    {% elif grant.funder.name == 'National Institutes of Health' %}
	    <div style="color: #FFFFFF; background-color: #777777; border-radius: 4px; width: min-content; padding-left: 5px; padding-right: 5px;">
	      NIH
	    </div>
	    {% endif %}
            <small>Award Abstract #{{ grant.award_id}}</small>
            <h1>
              <span>{{ grant.title }}</span>
            </h1>
	    {% if grant.funder.name == 'National Science Foundation' %}
	    <p><a target="_blank" href="https://www.nsf.gov/awardsearch/showAward?AWD_ID={{ grant.award_id }}">See grant description on NSF site</a></p>
	    {% elif grant.funder.name == 'National Institutes of Health' %}
	    <a target="_blank" href="https://reporter.nih.gov/">Search for this grant on NIH site</a>
	    {% endif %}
	  </header>
            <section>
                <small>Program Manager:</small>
                {% for program_official in grant.program_officials.all %}
                <p>
                  {% with program_official.first_name|add:" "|add:program_official.last_name as fullname %}
                  {{ fullname }}
                  {% endwith %}
                </p>
		{% endfor %}
            </section>
            <section>
                <small>Active Dates:</small>
                <p>
                    <time>{{ grant.start_date }} -- {{ grant.end_date }}</time>
                </p>
            </section>
            <section>
                <small>Awarded Amount:</small>
                <p>${{ grant.award_amount|intcomma }}</p>
            </section>
            <section>
                <small>Investigator(s):</small>
                  <p>{{ grant.principal_investigator.first_name|add:" "|add:grant.principal_investigator.last_name}}</p>
                  {% for other_investigator in grant.other_investigators.all %}
                  {% with other_investigator.first_name|add:" "|add:other_investigator.last_name as fullname %}
                  <p>{{ fullname }}</p>
                  {% endwith %}
                  {% endfor %}
            </section>
            <section>
                <small>Awardee Organization:</small>
                <p>
                    {{ grant.awardee_organization.name}}
                    <br>
                    {{ grant.awardee_organization.address}}
                    <br>
                    {% with grant.awardee_organization.city|add:" "|add:grant.awardee_organization.state|add:" "|add:grant.awardee_organization.zip as address %}
                        {{ address }}
                    {% endwith %}
                </p>
            </section>
            <section>
	      {% if grant.funder.name == 'National Institutes of Health' %}
	      <small>Funding IC:</small>
	      {% else %}
              <small>Funder Divisions:</small>
	      {% endif %}
	      {% for funder_division in grant.funder_divisions %}
              <p>
		{{ funder_division }}
              </p>
	      {% endfor %}
            </section>
            <section>
                <small>Abstract:</small>
                <p>
                    {{ grant.abstract }}
                </p>
            </section>
        </div>
	{% include "cic_footer.html" %}
    </body>
{% endblock content %}

</html>
