{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <script>(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","https://www.google-analytics.com/analytics.js","ga");ga("create", "UA-157478823-5", {"cookieDomain":"auto"});ga("set", "anonymizeIp", true);ga("send", "pageview");</script>
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="https://covidinfocommons.datascience.columbia.edu/themes/custom/columbia/favicon-crown.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="{% static '/search/main.css' %}" />

    <!-- Use the Google fonts as a backup for Adobe fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />

    <!-- Include FontAwesome for icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <title>Covid Information Commons -- Grant Search</title>
</head>
<body>
    <script type="text/javascript">
        var start_time = new Date().toLocaleTimeString()
        console.log('Index Template -- Started at: ' + start_time)
      </script>
    {% include "cic_header.html" %}
    <div id="root">
    </div>
    <script type="text/javascript">
        var keywords = "{{ keywords }}";
      </script>
    <script type="text/javascript" src="{% static 'search/grants.js'%}">
    </script>

    {% include "cic_footer.html" %}
    <script type="text/javascript">
        var end_time = new Date().toLocaleTimeString()
        console.log('Index Template -- Ended at: ' + end_time)
      </script>
</body>
{% endblock content %}
</html>
