{% load static %}
{% load humanize %}
{% load my_filters %}
{% load highlight %}

<!DOCTYPE html>
<html lang="en">
  {% block content %}
  <head>
    <meta charset="UTF-8">
      <title>
	{% with person.first_name|add:" "|add:person.last_name as fullname %}
        CIC - {{ fullname }}
        {% endwith %}
      </title>
      <link rel="shortcut icon" href="https://covidinfocommons.datascience.columbia.edu/themes/custom/columbia/favicon-crown.png" type="image/png" />
      
      <!-- Use the Google fonts as a backup for Adobe fonts -->	
      <link rel="preconnect" href="https://fonts.googleapis.com" />		   
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
      
      <!-- Include FontAwesome for icons -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
	
      <link rel="stylesheet" type="text/css" href="{% static '/search/main.css' %}" />
  </head>
  <body>
    
    {% include "cic_header.html" %}
    <p/>

    <div>
      <h1>
        {% with person.first_name|add:" "|add:person.last_name as fullname %}
        {{ fullname|highlight:keyword }}
        {% endwith %}
      </h1>
    </div>
    
    {% if profile_pic is not None %}
    <div>
      <img src="{{ profile_pic }}" alt="picture of {{ person.first_name }} {{ person.last_name }}" style="float: right; padding-right: 30px;"/>
    </div>
    {% endif %}
    
    <div>
      {% if person.affiliations is not None %}
      <section>
        <small>Institution:</small>
        {% for org in person.affiliations.all %}
        <p>{{ org.name|highlight:keyword }}</p>
        {% endfor %}
      </section>
      {% endif %}

      {% if person.emails is not None %}
      <section>
        <small>Email:</small>
        <p>{{ person.emails }}</p>
      </section>
      {% endif %}

      {% if person.orcid is not None %}
      <section>
        <small>ORCID ID:</small>
          <p><a href={{ person.orcid }}>{{ person.orcid }}</a></p>
      </section>
      {% endif %}

      {% if person.websites is not None %}
      <section>
        <small>Websites:</small>
        {% for website in person.websites %}
	<p>
          <a href="{{ website }}">{{ website }}</a>
	</p>
        {% endfor %}
      </section>      
      {% endif %}
      
      {% if videos %}
      <section>
        <small>Video:</small>
        {% for video in videos %}
	<p>
	  <iframe width="854" height="480"
		  src="{{ video }}" title="YouTube video player" frameborder="0"
		  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</p>
        {% endfor %}
      </section>      
      {% endif %}
      
      {% if grants %}
      <section>
        <small>Awarded COVID Grants:</small>
        {% for grant in grants %}
	<p>
          <a href="/search/{{ grant.id }}">{{ grant.title }}</a>
	</p>
        {% endfor %}
      </section>
      {% endif %}

      {% if person.keywords is not None %}
      <section>
        <small>Keywords:</small>
	<div class="btns">
	  {% for w in person.keywords %}
	  <a href="/grants/?keywords={{w}}">{{ w }}</a>
	  {% endfor %}
	</div>
      </section>
      {% endif %}
      
    </div>
    <p/>
    
    {% include "cic_footer.html" %}
    
  </body>
  {% endblock content %}
</html>
